html > body div.gridbox_dhx_skyblue table.hdr td div.hdrcell{direction: rtl; text-align: center; padding-right: 5px;}
.dhxform_obj_dhx_skyblue div.dhxform_control div.dhxform_note {direction:rtl;text-align: justify;}
div.gridbox_dhx_skyblue table.obj.row20px td{text-align: center;}
.dhxform_obj_dhx_skyblue div.dhxform_txt_label2{font-weight: normal;text-align: center;}
.dhxform_note {direction: rtl; !important}
.dhxform_obj_dhx_skyblue div.dhxform_item_label_left {direction: ltr}